include ../layouts/main-layout.pug
block head
    link(rel="stylesheet", href="./stylesheets/login.css")
block content
    main
        form.login-form(action="/login" method='POST')
            if passwordWrong
                .alert-danger Password is wrong !!!!
            if userNotExist
                .alert-danger User isn't Exist !!!!
            if verify
                .alert-danger Email has not been verified !!!!!
                a.btn.btn-verify(href='/enter-email-verify') Click verify
            .form-control
                label(for="email") E-Mail
                input(type="email", name="email")
            .form-control
                label(for="password") Password
                input(type="password", name="password")
            button.btn.btn-submit(type="submit" name="_csrf" value=csrfToken) Login

    
      

          
                
             
            
