
.card-product-item .card-action .btn:hover {
    background-color: #007BFF;
    cursor          : pointer;
    color           : white;

}

.card-product-item .card-action .btn-edit {
    border-color: #28A745;
    margin-right: 1rem;
    color       : #28A745;
}

.card-product-item .card-action .btn-edit:hover {
    background-color: #28A745;
}

.card-product-item .card-action .btn-delete {
    border-color: #FFC107;
    color       : #FFC107;
}

.card-product-item .card-action .btn-delete:hover {
    background-color: #FFC107;
}

.card-product-item .card-action {
    display        : flex;
    justify-content: center;
}