include ../layouts/main-layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/cart.css")
block content
    if productsCart.length<1
        h1 Cart is empty
    else
        ul.product-list
            each product in productsCart
                li.card-product-item 
                    p.title #{product.title}  (#{product.cartItem.quantity}) 
                    form.form-action(action="/shop/cart/delete", method="post")
                        button.btn.btn-delete-cart(type='submit' value=product.id name='productId') Delete
        form.form-action(action="/shop/orders", method="post")
             button.btn.btn-delete-cart(type='submit') Order Now !
    
      

          
                
             
            
