include ../layouts/main-layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/orders.css")
block content
    h1 Order
    main
        if orders.length==0
            h1 Nothing There !
        else
            ul.list-orders
                 each order,index in orders
                    li.item-order
                        h3 # #{index} :  #{order._id}
                        ul.list-products
                            each product in order.productsCart
                                li.item-product - #{product.title}      ( #{product.quantity} ) 
                
          
                
             
            
